* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input, button {
    display: -moz-grid-line;
    padding: 8px;
}

body {
    background-color: rgb(55, 53, 53);
    text-align: center;
}

h1 {
    background-color: rgb(173, 54, 54);
    text-align: center;
}

button  {
    background-color: blue;
    color: #fff;
    cursor: pointer;
}


ul {
    display: block;
    color: #fff;
    font-size: 25px;
}

.riscarTarefa {
    text-decoration: line-through
}